extends layout
block content
	script.
		$('#navhome').addClass('active');
		$('#navclients').removeClass('active');
		$('#navvisits').removeClass('active');	
	div.container.well.well-lg
		div.content
			h5 SETTINGS